.patient-card {

  &__ava {
    width: 88px;
    height: 88px;
    border-radius: 44px;
    float: right;
  }

  &__xray {


    img {
      width: 120px;
      height: 120px;
      border-radius: 6px;
    }

    & + .patient-card__xray {
      margin-left: 8px;
    }
  }

}
