.xray-editor__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xray-editor__col {
  // display: flex !important;
  // justify-content: center;
  // align-items: center;
}