.auth-form {
    width: 416px;
    padding: 32px 80px;
    background-color: #fff;
    border-radius: 12px;

    &__heading {
        text-align: center;
        margin-bottom: 32px;
    }

    &__links {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 12px;
    }
}
