.patients {
    .content-card {
        padding: 32px;

        & + .content-card {
            margin-top: 32px;
        }
    }

    .patients-list {
        .patient-item {
            padding: 10px 16px 14px;
            border-radius: 6px;
            background-color: #fff;
            transition: background-color 0.1s ease-in-out;

            a {
                font-size: 20px;
                transition: color 0.1s ease-in-out;
            }

            &:hover {
                background-color: #EEF2F4;

                a {
                    color: #000;
                }
            }
        }
    }
}
